
<div class="card box-shadow">
  <form action="">
    <div class="search__bar">
      <div class="query__container">
        <%= image_tag 'search.png' %>
        <input type="text" name="query" id="query">
      </div>
      <input type="submit" value="Reset" id="reset">
      <input type="submit" value="Search" id="submit">
    </div>
  </form>

  <div class="search__results">

      <% @videos["items"].each_with_index do |video, idx| %>
        <%= render 'result_item', video: video, idx: idx %>
      <% end %>
      
  </div>

</div>