<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
</head>

<div class="page">

  <div class="name__header">
    <div class="name__container">
      <h3>
        <%= link_to 'Kevin Edholm Moch', '/' %>
      </h3>
    </div>
  </div>
  
  <div class="search__header">
    <div class="search__container">
      <h3>
        [Search Term]
      </h3>
    </div>
  </div>

  <div class="tabs">
    <div class="tab-menu">
      <div class="tab-menu__item selected" target="#page1">Accordian</div>
      <div class="tab-menu__item" target="#page2">Graph</div>
    </div>
  
    <div class="tab-content " id="page1">
      <%= render 'page1' %>
    </div>
  
    <div class="tab-content hidden" id="page2">
      <%= render 'page2' %>
    </div>
  </div>

  <footer>
  
  </footer>

</div>
