body {
  background: #F0F3F8;
  font-family: sans-serif;
  margin: 0;
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $blue-black;
  }
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  margin: 0px 0px 0px 0px;
}

i {
  height: 16px;
  width: 16px;
}

input {
  border-width: 0px;
  border-style: none;
  padding: 0px;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:focus {
  border-style: none;
  border-width: 0px;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.button {
  border-radius: 3px;
  padding: 10px 30px;
  text-decoration: none;

  &.primary {
    background: $blue;
    color: $white;

    &:hover {
      background: darken($blue, 10);
    }
  }
}

.card {
  background: $white;
  margin: auto;
  margin-bottom: $big-spacing;
  max-width: 1000px;
  // padding: $base-spacing;

  &.no-pad {
    padding: 0;
  }

  &.bigger {
    max-width: 1400px;
  }
}

.box-shadow {
  box-shadow: 0 5px 10px 0 rgba(#6892FF, 0.25);
}

.tab-menu {
  border-bottom: 3px solid #a6afbe;
  display: flex;
  margin: auto;
  margin-bottom: 13px;
  margin-top: 20px;
  // padding: 0 $small-spacing;
  height: 70px;
  // width: 960px;
  box-sizing: border-box;

  .tab-menu__item {
    cursor: pointer;
    color: $lightest-gray;
    font-family: Montserrat;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    width: 225px;
    height: 100%;
    text-align: left;
    margin-right: $base-spacing;
    padding-top: 21px;
    padding-bottom: 19px;
    padding-left: $small-spacing;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    &.selected {
      font-weight: 600;
      color: $light-black;
      box-shadow: 0px 3px 0 0 $blue;  
    }
  }
}

.hidden {
  display: none;
}
